.header{
    max-width: 1400px;
    width: 100%;
    height: 66px;
    margin: 0 auto;
    position: fixed;
    z-index: 2222;
    left:0;
    top:0;
    right: 0;
    bottom: 0;
    background-color:rgba(255,255,255,0.9);
}
.headerfix{
    position: fixed;
    z-index: 2222;
    left:0;
    top:0;
    right: 0;
    bottom: 0;
    background-color:rgba(255,255,255,0.9);
    /* transition: 0.4s; */
}
.header .left{
    width: 171px;
    height: 35px;
    position: absolute;
    top:50%;
    left: 50px;
    margin-top: -17px;
    cursor: pointer;
}
.header .right{
    height: 26px;
    line-height: 26px;
    position: absolute;
    top:50%;
    right: 50px;
    margin-top: -13px;
    font-size: 16px;
}
.header .right .nav_list{
    display:block;
    margin-left: 28px;
    color: #383949;
    float: left;
    border-bottom:1px solid transparent;
}
.header .right .nav_list:hover{
    color: #f04e4c;
    border-color: #f04e4c;
    transition: .4s;
}